input[type="checkbox"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: inherit;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  opacity: 0;
  margin: 0;
  visibility: hidden
}

input[type="checkbox"].css-checkbox+label.css-label {
  padding-left: 25px;
  display: inline-block;
  line-height: 15px;
  vertical-align: middle;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: 400;
  font-size: $fontMedium;

  @include breakpoint(xs) {
    font-size: $fontMiddle;
  }
}

input[type="checkbox"].css-checkbox:checked+label.css-label {
  background: url(../img/checkbox-check.svg) no-repeat;
}

label.css-label {
  background: url(../img/checkbox.svg) no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $black;
}

// Radio Button

input[type="radio"].css-radio {
  position: absolute;
  z-index: -1000;
  left: inherit;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  opacity: 0;
  margin: 0;
  visibility: hidden
}

input[type="radio"].css-radio+label.css-labell {
  padding-left: 30px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  vertical-align: middle;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: 400;
  font-size: $fontMedium;

  @include breakpoint(xs) {
    font-size: $fontMiddle;
  }
}

input[type="radio"].css-radio:checked+label.css-labell {
  background: url(../img/radio-icon.svg) no-repeat;
  background-position: 0 -26px;
}

label.css-labell {
  background: url(../img/radio-icon.svg) no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}